{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block body %}

    <form action="/changePassword" method="post">
        <div class="change-password-page">
            <h1>Change password</h1>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message|safe }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="change-password-container">
                <div class="change-password-input-container">
                    <label>Enter username:</label>
                    <input name="username" placeholder="Username" type="text" autocomplete="off" required>
                </div>
                <div class="change-password-input-container">
                    <label>Current password:</label>
                    <input name="currentPassword" placeholder="Current password" type="password" autocomplete="off" required>
                </div>
                <div class="change-password-input-container">
                    <label>New Password:</label>
                    <input name="newPassword" placeholder="New password" type="password" autocomplete="off" required>
                </div>
                <div class="change-password-input-container">
                    <label>Confirm New Password:</label>
                    <input name="confirmNewPassword" placeholder="Confirm new password" type="password" autocomplete="off" required>
                </div>
                <button class="btn btn-primary" type="submit">Change password</button>
            </div>
        </div>
    </form>
{% endblock %}